#navbar {
    width: 260px;
    height: 100vh;
    background-color: #242939; /* #202429; */
    color: white;
    position: fixed;
    z-index: 1000;
}

#navbar .logo {
    font-size: 25px;
    text-transform: uppercase;
}

#navbar .fa-icons {
    margin-right: 10px;
    color:white;
    width: 10px;
}

#navbar .btn {
    background-color: #242939;
    border: none;
}

/* #navbar .navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navbar .navbar-nav li {
    font-weight: 300;
    cursor: pointer;
    padding: 15px 15px;
}

#navbar .navbar-nav li:hover {
    background-color: #171a1d;
}

#navbar .navbar-nav-nested {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #1d222e;
    padding-left: 25px;
} */

#navbar .nav-header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .nav-cards-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 15px;
}

#navbar .nav-card {
    width: 100%;
    height: 150px;
    background-color: #1d212e;
    border-radius: 5px;
    border: 2px solid #1b1f2b;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .nav-card p {
    font-size: 18px;
    font-weight: 500;
    color: #f1f1f7;
}

#navbar .nav-footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .new-list-btn {
    margin-right: 10px;
}